<label  for="{{field.id}}" class="control-label" ng-if="field.label">{{ field.label | translate}}</label>
<div class="bs-component input-group m-b-xs" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon" ng-if="block.icon"><i class="{{block.icon}}"></i></span>
    <div>
        <angucomplete-alt id="{{field.id}}"
                  pause="100"
                  selected-object="field.onSelected"
                  focus-out="field.onFocusOut()"
                  remote-url="{{field.url}}"
                  remote-url-data-field="items"
                  title-field="name"
                  minlength="2"
                  description-field="description"
                  input-class="form-control"
                  match-class="text-info"
                  disable-input="field.attr.disabled ? true : false"
                  initial-value="field.init"/>
    </div>
    <input type="hidden" name="{{field.full_name}}" value="{{field.value}}" ng-model="field.value"/>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>