<label class="block switch switch-primary m-t-25">
    <input ng-checked="field.checked" type="checkbox" id="{{field.id}}" name="{{field.full_name}}" value="{{field.value}}" class="js-switch" ui-switch="{color:'#1AB394'}" ng-model="field.checked"/>
    <span class="control-label m-l m-b-xs"> {{ field.label | translate}} <i ng-if="block.icon" class="{{block.icon}} m-l-sm"></i></span>
</label>
<em for="{{field.id}}" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>