<div class="bs-component  input-group m-b-xs  choice col-lg-12" ng-class="{'state-error': !field.valid}">
    <table class="table table-stripped toggle-arrow-tiny">
        <tbody>
            <tr ng-repeat="(key, choice) in field.form track by $index">
                <td class="text-left">
                    <label>
                    <input icheck ng-checked="choice.checked" type="checkbox" id="{{choice.id}}" name="{{choice.full_name}}"
                           ng-model="choice.checked" value="{{choice.name}}"/> {{choice.label}}
                    </label>
                </td>
            </tr>
        </tbody>
    </table>
</div>