<div class="bs-component  input-group m-b-xs  choice col-lg-12" ng-class="{'state-error': !field.valid}">
    <table class="table table-stripped toggle-arrow-tiny">
        <thead>
            <tr>
                <th class="col-sm-2"></th>
                <th>{{'BACKGROUND.FIELD.PHONE_BASE.TITLE' | translate}}</th>
                <th>{{'BACKGROUND.FIELD.PHONE_BASE.COUNT' | translate}}</th>
                <th class="text-right">{{'BACKGROUND.FIELD.PHONE_BASE.SELECTED' | translate}}</th>
                <th class="text-right">{{'COMMON.ACTIONS' | translate}}</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="(key, choice) in field.form track by $index">
                <td class="col-sm-2">
                    <input icheck ng-checked="choice.form.checked" ng-change="choice.Change()" type="checkbox" id="{{choice.form.id}}" name="{{choice.form.full_name}}"
                           ng-model="choice.form.checked" value="{{choice.form.name}}"/>
                </td>
                <td>
                    {{choice.title}}
                </td>
                <td>
                    {{choice.count}}
                </td>
                <td class="text-right">
                    <span class="badge badge-info" ng-if="choice.joined">{{choice.joined}}</span>
                    <a href="" class="right text-danger" ng-if="choice.joined" ng-click="choice.Clear()"><i class="fa fa-remove"></i></a>
                </td>
                <th class="text-right">
                    <button class="btn btn-xs btn-primary" type="button" ng-click="choice.OpenList()">
                        <i class="fa fa-list"></i>
                    </button>
                </th>
            </tr>
        </tbody>
    </table>
</div>