<label for="{{field.id}}" class="control-label">{{ field.label | translate}}</label>

<div ng-repeat="(key, items) in field.form track by $index" class="col-lg-12 well well-sm">
    <div class="col-lg-12">
        <div ng-repeat="(key, groupCollection) in items">
            <div class="form-group">
                <div ng-repeat="blockCollection in groupCollection"
                     class="col-lg-{{blockCollection.size}} text-left"
                     ng-init="field = blockCollection.field; block = blockCollection"
                     ng-class="{'has-error': !field.valid}"
                     ng-include="field.template"></div>
                <div class="col-lg-2" ng-if="!field.hideButton" style="float: right">
                    <div class="btn-group" style="float: right">
                    <button type="button" class="btn btn-warning btn-outline m-t-25" ng-click="ClickRemoveField(key)" ng-if="showRemoveCollectionButton">
                        <i class="fa fa-minus"></i>
                    </button>
                    <button type="button" class="btn btn-primary btn-outline m-t-25" ng-click="ClickAddField()" ng-if="$parent.$last">
                        <i class="fa fa-plus"></i>
                    </button>
                    </div>
                </div>
            </div>
            <div class="hr-line-dashed" ng-show="!$last"></div>
        </div>
    </div>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>