<label for="{{field.id}}" class="control-label">{{ field.label | translate}}</label>

<div ng-repeat="items in field.form" class="col-lg-12 well well-sm">
    <div class="col-lg-10">
        <div ng-repeat="groupCollection in items">
            <div class="form-group">
                <div ng-repeat="blockCollection in groupCollection"
                     class="col-lg-{{blockCollection.size}} text-left"
                     ng-init="field = blockCollection.field"
                     ng-class="{'has-error': !field.valid}"
                     ng-include="field.template"></div>
            </div>
            <div class="hr-line-dashed" ng-show="!$last"></div>
        </div>
    </div>
    <div class="col-lg-2" ng-if="$last">
        <button type="button" class="btn btn-primary btn-outline">
            <i class="fa fa-plus"></i>
        </button>
    </div>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>