<label  for="{{field.id}}" class="control-label">{{ field.label | translate}}</label>

<div class="bs-component input-group m-b-xs" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input datetimepicker datetimepicker-options="{format: 'DD.MM.YYYY HH:mm'}" type="text" id="{{field.form.from.id}}" name="{{field.form.from.full_name}}" class="form-control"  value="{{field.form.from.value}}" ng-model="field.form.from.value" ng-required="field.form.from.required"/>
    <span class="input-group-addon b-none">to</span>
    <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
    <input datetimepicker datetimepicker-options="{format: 'DD.MM.YYYY HH:mm'}" type="text" id="{{field.form.to.id}}" name="{{field.form.to.full_name}}" class="form-control"  value="{{field.form.to.value}}" ng-model="field.form.to.value" ng-required="field.form.to.required"/>
</div>
