<label for="{{field.id}}" class="control-label">{{ field.label | translate}}</label>
<div class="bs-component  input-group m-b-xs  choice col-lg-12" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon" ng-if="block.icon"><i class="{{block.icon}}"></i></span>
    <select multiple chosen  class="chosen-select" id="{{field.id}}" name="{{field.full_name}}" ng-model="field.model" ng-options="choice as choice.label for choice in field.choices track by choice.attr"></select>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>