<label  for="{{field.id}}" class="control-label" ng-if="field.label">{{ field.label | translate}}</label>
<div class="bs-component input-group m-b-xs col-lg-12" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon" ng-if="block.icon"><i class="{{block.icon}}"></i></span>
    <input type="{{field.type}}" id="{{field.id}}" name="{{field.full_name}}" class="form-control"  value="{{field.value}}" ng-model="field.value" ng-required="field.required" field-attr="field.attr"/>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>
