<label for="{{field.id}}" class="control-label">{{ field.label | translate}}</label>
<div class="bs-component input-group m-b-xs choice col-lg-12" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon" ng-if="block.icon"><i class="{{block.icon}}"></i></span>
    <ui-select ng-model="field.model" theme="bootstrap">
        <ui-select-match placeholder="{{field.placeholder | translate}}" allow-clear="true">
            {{$select.selected.label|translate}}
        </ui-select-match>
        <ui-select-choices repeat="choice in field.choices  track by $index | filter: $select.search" position="down">
            <div ng-bind-html="choice.label|translate | highlight: $select.search"></div>
        </ui-select-choices>
    </ui-select>
    <input type="hidden" name="{{field.full_name}}" value="{{field.model.attr}}" id="{{field.id}}"/>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>