<div>
    <div class="row" style="margin-top: 10px; margin-bottom: 5px">
        <div class="col-lg-8">
            <label for="{{field.id}}" class="control-label" ng-if="!block.hideIcon">{{ field.label | translate}} <i ng-if="block.icon" class="{{block.icon}} m-l-sm"></i></label>
        </div>
        <div class="col-lg-4">
            <div class="ibox-tools dropdown ibox-float-right" dropdown style="margin-top:-10px">
                <a class="dropdown-toggle btn btn-primary" href dropdown-toggle>
                    <i class="fa fa-magic"></i> {{'BACKGROUND.FIELD.SMS_TEXT.INSERT' | translate}}
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a ng-click="Click.Insert('phone')">{{'BACKGROUND.FIELD.PHONE'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('first_name')">{{'BACKGROUND.FIELD.FIRST_NAME'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('middle_name')">{{'BACKGROUND.FIELD.MIDDLE_NAME'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('last_name')">{{'BACKGROUND.FIELD.LAST_NAME'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('birth_date')">{{'BACKGROUND.FIELD.BIRTH_DATE'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('gender')">{{'BACKGROUND.FIELD.GENDER'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('note1')">{{'BACKGROUND.FIELD.NOTE1'|translate}}</a></li>
                    <li><a ng-click="Click.Insert('note2')">{{'BACKGROUND.FIELD.NOTE2'|translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="bs-component" ng-class="{'state-error': !field.valid}">
        <textarea id="{{field.id}}" name="{{field.full_name}}" rows="{{block.rows}}" class="form-control" ng-required="field.required" ng-model="field.value" field-attr="field.attr">{{field.value}}</textarea>
    </div>
    <em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>
    <div class="well">
        <div class="row">
            <div class="col-md-2">
                <button class="btn btn-default" type="button" ng-click="Click.TranslitSms()">{{translitButton}}</button>
            </div>
            <div class="col-md-4">
                <div>{{'BACKGROUND.FIELD.SMS_TEXT.MESSAGES_COUNT' | translate}}: <span id="messages_count">{{messageLength}}</span></div>
                <div>{{'BACKGROUND.FIELD.SMS_TEXT.CHARACTER_COUNT' | translate}}: <span id="character_count">{{charachterLength}}</span></div>
            </div>
            <div class="col-md-4">
                <div>{{'BACKGROUND.FIELD.SMS_TEXT.ENCODING' | translate}}: <span id="messages_encoding">{{encoding}}</span></div>
                <div>{{'BACKGROUND.FIELD.SMS_TEXT.PER_MESSAGE' | translate}}: <span id="messages_per_message">{{perMessage}}</span></div>
            </div>
        </div>
    </div>
</div>