<label  for="{{field.id}}" class="control-label">{{ field.label | translate}}</label>

<div class="bs-component input-group m-b-xs" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon" ng-if="block.icon">
        <i class="{{block.icon}}"></i>
    </span>
    <span class="form-control-static form-control">
        {{block.textValue ? (block.textValue|translate) : field.value}}
    </span>
    <span class="input-group-btn" ng-if="block.button">
        <button type="button" class="btn btn-primary" ng-click="block.button.action()"><i class="{{block.button.icon}}"></i></button>
    </span>
</div>
<input type="hidden" id="{{field.id}}" name="{{field.full_name}}" value="{{field.value}}" ng-model="field.value"/>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>
