<label  for="{{field.id}}" class="control-label" ng-if="field.label">{{ field.label | translate}}</label>
<div class="bs-component input-group m-b-xs" ng-class="{'state-error': !field.valid}">
    <span class="input-group-addon" ng-if="block.icon"><i class="{{block.icon}}"></i></span>
    <tags-input ng-model="field.value"/>
    <input type="hidden" name="{{field.full_name}}" value="{{field.value}}"/>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>
