<label for="{{field.id}}" class="control-label" ng-if="!block.hideIcon">{{ field.label | translate}} <i ng-if="block.icon" class="{{block.icon}} m-l-sm"></i></label>

<div class="bs-component" ng-class="{'state-error': !field.valid}">
    <textarea id="{{field.id}}" name="{{field.full_name}}" rows="{{block.rows}}" class="form-control" ng-required="field.required" ng-model="field.value" field-attr="field.attr">{{field.value}}</textarea>
</div>
<em for="lastname" class="text-danger" ng-repeat="error in field.errors" ng-if="!field.valid">{{error | translate}}</em>
