<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">

        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" dropdown>
                    <span ng-if="avatar">
                        <img alt="image" class="img-circle" ng-src="{{avatar}}" width="">
                    </span>
                    <a class="dropdown-toggle" dropdown-toggle href>
                        <span class="clear">
                            <span class="block m-t-xs">
                                <strong class="font-bold">{{username}}</strong>
                            </span>
                            <span pz-permission role="ROLE_ADMIN" class="text-muted text-xs block">Administrator <b class="caret"></b></span>
                            <span pz-permission no-role="ROLE_ADMIN" class="text-muted text-xs block">Manager <b class="caret"></b></span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li class="divider"></li>
                        <li><a ng-click="Click.Logout()">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    {{title}}
                </div>
            </li>

            <li ng-repeat="item in items" ng-class="{active: $state.includes(item.root)}"  pz-permission role="{{item.role}}">
                <a href="" ng-if="item.children">
                    <i class="{{item.icon}}"></i> <span class="nav-label">{{item.title | translate }}</span>
                    <span class="fa arrow"></span>
                </a>
                <ul ng-if="item.children" class="nav nav-second-level collapse" ng-class="{in: $state.includes(item.root)}">
                    <li ui-sref-active="active" ng-repeat="child in item.children" pz-permission role="{{child.role}}">
                        <a ui-sref="{{item.root}}.{{child.url}}">{{child.title | translate }}</a>
                    </li>
                </ul>
                <a ng-if="!item.children" ui-sref="{{item.root}}.{{item.url}}">
                    <i class="{{item.icon}}"></i> <span class="nav-label">{{item.title | translate }}</span>
                </a>
            </li>
        </ul>
    </div>
</nav>