
    <div class="sidebar-collapse">

        <ul side-navigation class="nav metismenu" id="side-menu">
            <li class="nav-header">

                <div class="dropdown profile-element" ng-controller="UserInfoCtrl" dropdown>
                    <a class="dropdown-toggle" dropdown-toggle href>
                <span class="clear">
                    <span class="block m-t-xs">
                        <strong class="font-bold">{{username}}</strong>
                 </span>
                    <span class="text-muted text-xs block">Client <b class="caret"></b></span>
                </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a ui-sref="client_user.settings">{{'USER.SETTINGS' | translate }}</a></li>
                        <li><a ui-sref="list.user" ng-if="showAdminLink">{{'COMMON.ADMINISTRATION' | translate }}</a></li>
                        <li class="divider"></li>
                        <li><a ng-click="Click.Logout()">{{'COMMON.LOGOUT' | translate }}</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li ng-class="{active: $state.includes('client_background')}">
                <a ui-sref="client_background.send">
                    <i class="fa fa-send-o"></i> <span class="nav-label">{{'BACKGROUND.TITLE' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('client_phone_base')}">
                <a ui-sref="client_phone_base.list">
                    <i class="fa fa-phone"></i> <span class="nav-label">{{'PHONE_BASE.LIST' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('client_sender')}">
                <a ui-sref="client_sender.list">
                    <i class="fa fa-user"></i> <span class="nav-label">{{'SENDER.LIST' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('client_stop_list')}">
                <a ui-sref="client_stop_list.list">
                    <i class="fa fa-list"></i> <span class="nav-label">{{'STOP_LIST.LIST' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('client_template')}">
                <a ui-sref="client_template.list">
                    <i class="fa fa-file-text-o"></i> <span class="nav-label">{{'TEMPLATE.LIST' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('client_statistics')}">
                <a ui-sref="client_statistics.sms">
                    <i class="fa fa-area-chart"></i> <span class="nav-label">{{'COMMON.STATISTICS' | translate }}</span>
                </a>
            </li>
            <li ng-class="{active: $state.includes('client_detail_statistics')}">
                <a ui-sref="client_detail_statistics.detail">
                    <i class="fa fa-bar-chart-o"></i> <span class="nav-label">{{'COMMON.DETAIL_STATISTICS' | translate }}</span>
                </a>
            </li>
            <!--<li ng-class="{active: $state.includes('client_report')}">-->
                <!--<a ui-sref="client_report.list">-->
                    <!--<i class="fa fa-file-zip-o"></i> <span class="nav-label">{{'REPORT.LIST' | translate }}</span>-->
                <!--</a>-->
            <!--</li>-->
            <li ng-class="{active: $state.includes('client_api')}">
                <a ui-sref="client_api.list">
                    <i class="fa fa-code"></i> <span class="nav-label">{{'API.LIST' | translate }}</span>
                </a>
            </li>

        </ul>
    </div>
