<!-- Wrapper-->
    <!-- Navigation -->
    <nav class="navbar-default navbar-static-side" role="navigation" ng-include="'/bundles/pizoneadmin/tmpl/common/_client_navigation.html'"></nav>

    <!-- Page wraper -->
    <!-- ng-class with current state name give you the ability to extended customization your view -->
    <div id="page-wrapper" class="gray-bg {{$state.current.name}}">

        <!-- Page wrapper -->
        <div class="row border-bottom" ng-include="'/bundles/pizoneadmin/tmpl/common/topnavbar.html'"></div>

        <!-- Main view  -->
        <ui-view></ui-view>

        <!-- Footer -->
        <div class="footer" ng-include="'/bundles/pizoneadmin/tmpl/common/footer.html'"></div>

    </div>
    <!-- End page wrapper-->

    <!-- Right Sidebar -->
    <div ng-include="'/bundles/pizoneadmin/tmpl/common/right_sidebar.html'"></div>
<!-- End wrapper-->