<div class="ibox-tools dropdown" dropdown dropdown-intis>
    <a ng-click="ShowHide()"> <i class="fa fa-chevron-down"></i></a>
    <a class="dropdown-toggle" href dropdown-toggle>
        <i class="fa fa-wrench"></i>
    </a>
    <ul class="dropdown-menu dropdown-user">
        <li ng-repeat="column in columns" ng-if="column.title">
            <a ng-click="Click.ShowColumn($index)">
                <i class="fa fa-check" ng-if="column.show"></i>
                <i class="fa-empty" ng-if="!column.show">&nbsp;</i>
                {{column.title | translate}}
            </a>
        </li>
        <li class="divider"></li>
        <li>
            <a ng-click="Click.ShowAllColumns()" class="dropdown-close"><i class="fa-empty">&nbsp;</i>
                {{'COMMON.SHOW_ALL_COLUMNS' | translate}}</a>
        </li>
        <li>
            <a ng-click="Click.ShowDefaultColumns()" class="dropdown-close"><i class="fa-empty">&nbsp;</i>
                {{'COMMON.SHOW_DEFAULT_COLUMNS' | translate}}</a>
        </li>
    </ul>
    <a ng-click="CloseBox()"><i class="fa fa-times"></i></a>
</div>