<nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <span minimaliza-sidebar></span>
        <!--<form role="search" class="navbar-form-custom" method="post"-->
              <!--action="/bundles/pizoneadmin/views/search_results.html">-->
            <!--<div class="form-group">-->
                <!--<input type="text" placeholder="{{ 'SEARCH' | translate }}" class="form-control" name="top-search"-->
                       <!--id="top-search">-->
            <!--</div>-->
        <!--</form>-->
    </div>
    <ul class="nav navbar-top-links navbar-right">
        <!--<li>-->
        <!--<span class="m-r-sm text-muted welcome-message">Welcome to INSPINIA+ Admin Theme.</span>-->
        <!--</li>-->
        <li class="dropdown" dropdown ng-controller="translateCtrl">
            <a class="dropdown-toggle count-info" href dropdown-toggle>
                Language <img ng-src="{{useTranslate}}"/>
            </a>
            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                <li><a ng-click="changeLanguage('en')"><img ng-src="{{enFlag}}"/> English</a></li>
                <li><a ng-click="changeLanguage('ru')"><img ng-src="{{ruFlag}}"/> Russia</a></li>
            </ul>
        </li>
        <!--<li class="dropdown" dropdown>-->
            <!--<a class="dropdown-toggle count-info" href dropdown-toggle>-->
                <!--<i class="fa fa-envelope"></i> <span class="label label-warning">16</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-messages">-->
                <!--<li>-->
                    <!--<div class="dropdown-messages-box">-->
                        <!--<a ui-sref="profile" class="pull-left">-->
                            <!--<img alt="image" class="img-circle" src="">-->
                        <!--</a>-->

                        <!--<div>-->
                            <!--<small class="pull-right">46h ago</small>-->
                            <!--<strong>Mike Loreipsum</strong> started following <strong>Monica Smith</strong>. <br>-->
                            <!--<small class="text-muted">3 days ago at 7:58 pm - 10.06.2014</small>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<div class="text-center link-block">-->
                        <!--<a ui-sref="mailbox.inbox">-->
                            <!--<i class="fa fa-envelope"></i> <strong>Read All Messages</strong>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <!--<li class="dropdown" dropdown>-->
            <!--<a class="dropdown-toggle count-info" href dropdown-toggle>-->
                <!--<i class="fa fa-bell"></i> <span class="label label-primary">8</span>-->
            <!--</a>-->
            <!--<ul class="dropdown-menu dropdown-alerts">-->
                <!--<li>-->
                    <!--<a ui-sref="inbox">-->
                        <!--<div>-->
                            <!--<i class="fa fa-envelope fa-fw"></i> You have 16 messages-->
                            <!--<span class="pull-right text-muted small">4 minutes ago</span>-->
                        <!--</div>-->
                    <!--</a>-->
                <!--</li>-->
                <!--<li class="divider"></li>-->
                <!--<li>-->
                    <!--<div class="text-center link-block">-->
                        <!--<a ui-sref="miscellaneous.notify">-->
                            <!--<strong>See All Alerts</strong>-->
                            <!--<i class="fa fa-angle-right"></i>-->
                        <!--</a>-->
                    <!--</div>-->
                <!--</li>-->
            <!--</ul>-->
        <!--</li>-->
        <li ng-controller="UserInfoCtrl">
            <a ng-click="Click.Logout()">
                <i class="fa fa-sign-out"></i> Log out
            </a>
        </li>
        <!--<li>-->
            <!--<a ng-click="$root.rightSidebar = !$root.rightSidebar">-->
                <!--<i class="fa fa-tasks"></i>-->
            <!--</a>-->
        <!--</li>-->
    </ul>

</nav>
