<!DOCTYPE html>
<html ng-app="PiZone">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    {% block stylesheets %}
        <link rel="stylesheet" type="text/css" media="screen" href="/assetic/css/style.min.css"/>
    {% endblock %}
</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in Inspinia theme on diferent view -->
{% verbatim %}
<body class="{{$state.current.data.specialClass}}" id="page-top">
{% endverbatim %}
<!-- Main view  -->
<div id="wrapper" ui-view></div>

{% block javascripts %}
    <script type="text/javascript">
        PiZoneConfig = {
            pathToTmpl: '/bundles/pizoneadmin/tmpl/',
            pathToImg: '/bundles/pizoneadmin/img/',
            pathToCatalogImg: '{{ catalog_url }}',
            apiPrefix: '{{ prefix_api }}',
        };
    </script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/plugins/tinymce/tinymce.min.js"></script>
    <script type="text/javascript" src="/assetic/js/script.min.js"></script>
    <script type="text/javascript" src="/assetic/js/angular.min.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/plugins/angular-ui-tinymce/src/tinymce.js"></script>

    {% if ''|scriptName != '/app_dev.php' %}
    <script type="text/javascript" src="/assetic/js/admin.min.js"></script>
    <script type="text/javascript" src="/assetic/js/app.min.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/config.js"></script>
    {% else %}
    <script type="text/javascript" src="/bundles/pizoneadmin/js/app.js"></script>

    <script type="text/javascript" src="/assetic/js/app.min.js"></script>

    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/lazyload.collection.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/config.js"></script>

    <script type="text/javascript" src="/bundles/pizoneadmin/js/controller/translate.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/controller/edit.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/controller/list.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/controller/new.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/model/model.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/translations/en.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/translations/ru.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/translations.js"></script>

    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/validators.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/data.processing.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/field.dispatcher.js"></script>

    <script type="text/javascript" src="/bundles/pizoneadmin/js/service/menu.config.js"></script>
    <script type="text/javascript" src="/bundles/pizoneadmin/js/directive/side.navigation.js"></script>
    {#<script type="text/javascript" src="/bundles/pizoneadmin/js/directive/permission.js"></script>#}
    {#<script type="text/javascript" src="/bundles/pizoneadmin/js/app/directive/checkbox.phone.base.list.field.js"></script>#}
    {% endif %}
{% endblock javascripts %}

</body>
</html>
