<button type="button" class="btn btn-xs btn-default btn-gradient mr5" ng-click="Click.ToList()">
    <i class="fa fa-list pr5"></i> К списку
</button>
<div class="btn-group">
    <button type="button" class="btn btn-xs btn-default btn-gradient dropdown-toggle" data-toggle="dropdown"
            aria-expanded="false">
        <span class="glyphicon glyphicon-cog"></span>
    </button>
    <ul class="dropdown-menu checkbox-persist pull-right text-left" role="menu">
        <li>
            <a>
                <i class="fa fa-user"></i> View Profile
            </a>
        </li>
        <li>
            <a>
                <i class="fa fa-envelope-o"></i> Message
            </a>
        </li>
    </ul>
</div>
