<div class="form-group m-t-lg">
    <div class="col-sm-12 ">
        <button type="button" class="btn btn-white" ng-click="Click.ToList()">
            <i class="fa fa-list"></i>&nbsp;{{'COMMON.TO_LIST' | translate}}
        </button>
        <button type="button" class="btn btn-info btn-outline" ng-click="Click.SubmitAndList()">
            <i class="fa fa-list"></i>&nbsp;{{'COMMON.SUBMIT_AND_LIST' | translate}}
        </button>
        <button type="button" class="btn btn-info " ng-click="Click.SubmitAndNew()">
            <i class="fa fa-plus"></i>&nbsp;{{'COMMON.SUBMIT_AND_NEW' | translate}}
        </button>
        <button type="button" class="btn btn-primary " ng-click="Click.Submit()">
            <i class="fa fa-check"></i>&nbsp;{{'COMMON.SUBMIT' | translate}}
        </button>
        <button type="button" class="btn btn-danger" ng-click="Click.Remove()">
            <i class="fa fa-trash"></i>&nbsp;{{'COMMON.DELETE' | translate}}
        </button>
    </div>
</div>