<div class="row" id="invoice-footer">
    <div class="col-md-12">
        <div class="col-lg-6 text-left" style="padding: 20px 0" ng-if="pager.nb_result > 10">
            {{'COMMON.SHOW_ON_PAGE' | translate}}
            <button class="btn btn-sm" ng-click="Click.ChangePerPage(10)" ng-class="{'btn-primary': CheckPerPage(10), 'btn-white': !CheckPerPage(10)}">10</button>
            <button class="btn btn-sm" ng-click="Click.ChangePerPage(20)" ng-class="{'btn-primary': CheckPerPage(20), 'btn-white': !CheckPerPage(20)}">20</button>
            <button class="btn btn-sm" ng-click="Click.ChangePerPage(50)" ng-class="{'btn-primary': CheckPerPage(50), 'btn-white': !CheckPerPage(50)}">50</button>
        </div>
        <div class="col-lg-6 text-right">
            <div class="pull-right" paging-intis="pager" paging-action="Click.Page"></div>
        </div>
    </div>
    <div class="col-md-12 text-left">
        <div class="pull-left space-20 text-primary">
            <button class="btn btn-sm btn-primary btn-gradient" type="button" ng-click="Click.Add()">
                <i class="fa fa-plus-square pr5"></i> {{'COMMON.NEW' | translate}}
            </button>

            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-sm btn-default dropdown-toggle" dropdown-toggle>
                    {{'COMMON.BATCH' | translate}} <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li><a href="" ng-click="Click.Batch.Remove()">{{'COMMON.DELETE'|translate}}</a></li>
                    <li><a href="" ng-click="Click.Batch.Active()">{{'COMMON.ACTIVE'|translate}}</a></li>
                    <li><a href="" ng-click="Click.Batch.Inactive()">{{'COMMON.INACTIVE'|translate}}</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>