<div class="btn-group mr20" per-page-pizone="pager" list-length="list.length" change-per-page="Click.ChangePerPage"></div>
<div class="btn-group">
    <a href="javascript:window.print()" class="btn btn-xs btn-default btn-gradient mr5">
        <i class="fa fa-print fs13"></i>
    </a>
    <a href="" class="btn btn-xs btn-default btn-gradient mr5" ng-click="Click.Filters()">
        <i class="glyphicon glyphicon-filter fs13"></i>
    </a>
</div>