.float-e-margins .choice .btn{
    margin-bottom: 0px;
}
.m-t-25{
   margin-top: 25px;
}
.fa-empty{
    padding: 5px;
}
.b-none{
    border: none;
}
.min-field-line .form-group{
    margin-bottom: 0;
}
.ibox-border{
    border: 1px solid #e7eaec;
}
.angucomplete-dropdown {
    overflow-y: auto;
    max-height: 200px;
    width: 100%;
    margin-top: 34px
}
.table tr > th.more_line,
.table tr > td.more_line,
.table > thead > tr > th.more_line{
    vertical-align: middle;
}
.more_line div{
    float: left;
}
.more_line .no-float{
    float: none;
}
.more_line hr, .no-float hr{
    margin-bottom: 2px;
    margin-top: 2px;
}
.more_line .footable-sort-indicator{
    float: left;
    width:15px;
}
.more_line .footable-toggle{
    float: left;
    line-height: 40px;
    width: 15px;
}
.input-group tags-input .host{
    margin-top: 0;
    margin-bottom: 0;
}
.input-group tags-input .tags .tag-item{
    background: #f1f1f1;
    border: 1px solid #ededed;
    border-radius: 2px;
    box-shadow: none;
    color: #333333;
    cursor: default;
    line-height: 16px;
    margin: 3px 0 3px 5px;
    padding: 3px 20px 3px 5px;
    position: relative;
}
.input-group tags-input .tags .tag-item .remove-button {
    position: absolute;
    top: 4px;
    right: 3px;
    display: block;
    width: 12px;
    height: 12px;
}
.ibox-float-right{
    float: right;
}
#sms_text_template{
    width: 338px;
}
#sms_text_template .btn{
    margin-bottom: 0;
}
#sms_text_template input{
    width: 218px;
}
#modal_confirmation tr:first-child td{
    border-top: 0;
}
.ui-select-choices-group-label{
    background: #d9edf7;
    color: #31708f;
    background-color: #d9edf7;
}
.code_50 .CodeMirror{
    height: 50px;
}
.code_55 .CodeMirror{
    height: 55px;
}
.code_60 .CodeMirror{
    height: 60px;
}
.code_65 .CodeMirror{
    height: 65px;
}
.code_70 .CodeMirror{
    height: 70px;
}
.code_75 .CodeMirror{
    height: 75px;
}
.code_80 .CodeMirror{
    height: 80px;
}
.code_85 .CodeMirror{
    height: 85px;
}
.code_90 .CodeMirror{
    height: 90px;
}
.code_95 .CodeMirror{
    height: 95px;
}
.code_100 .CodeMirror{
    height: 100px;
}
.code_105 .CodeMirror{
    height: 105px;
}
.code_110 .CodeMirror{
    height: 110px;
}
.code_115 .CodeMirror{
    height: 115px;
}
.code_120 .CodeMirror{
    height: 120px;
}
.code_125 .CodeMirror{
    height: 125px;
}
.code_130 .CodeMirror{
    height: 130px;
}
.code_135 .CodeMirror{
    height: 135px;
}
.code_140 .CodeMirror{
    height: 140px;
}
.code_145 .CodeMirror{
    height: 145px;
}
.code_150 .CodeMirror{
    height: 150px;
}
.code_155 .CodeMirror{
    height: 155px;
}
.code_160 .CodeMirror{
    height: 160px;
}
.code_165 .CodeMirror{
    height: 165px;
}
.code_170 .CodeMirror{
    height: 170px;
}
.code_175 .CodeMirror{
    height: 175px;
}
.code_180 .CodeMirror{
    height: 180px;
}
.code_185 .CodeMirror{
    height: 185px;
}
.code_190 .CodeMirror{
    height: 190px;
}
.code_195 .CodeMirror{
    height: 195px;
}
.code_200 .CodeMirror{
    height: 200px;
}
.code_205 .CodeMirror{
    height: 205px;
}
.code_210 .CodeMirror{
    height: 210px;
}
.code_215 .CodeMirror{
    height: 215px;
}
.code_220 .CodeMirror{
    height: 220px;
}
.code_225 .CodeMirror{
    height: 225px;
}
.code_230 .CodeMirror{
    height: 230px;
}
.code_235 .CodeMirror{
    height: 235px;
}
.code_240 .CodeMirror{
    height: 240px;
}
.code_245 .CodeMirror{
    height: 245px;
}
.code_250 .CodeMirror{
    height: 250px;
}
.code_255 .CodeMirror{
    height: 255px;
}
.code_260 .CodeMirror{
    height: 260px;
}
.code_265 .CodeMirror{
    height: 265px;
}
.code_270 .CodeMirror{
    height: 270px;
}
.code_310 .CodeMirror{
    height: 310px;
}
.code_315 .CodeMirror{
    height: 315px;
}
.code_320 .CodeMirror{
    height: 320px;
}
.code_430 .CodeMirror{
    height: 430px;
}
#api_tab{
    margin-bottom:40px;
}
.footer{
    z-index: 10;
}
.fh-breadcrumb{
    padding-bottom: 38px;
}
.fh-breadcrumb .elements-list .list-group-item{
    padding: 0;
}
.fh-breadcrumb .elements-list .list-group-item a{
    padding: 15px 25px;
    display: block;
}
#smart_scheduler{
    cursor: pointer;
}
#smart_scheduler h2{
    font-size:20px;
}
#smart_scheduler_content .btn-widget{
    cursor: pointer;
}
.clockpicker-popover{
    z-index: 10000;
}
.input-group[class*=col-]{
    width: 100%;
}
#loadFile, #importFile{
    display: none;
}
.col-checkbox{
    width: 40px;
}
.table > tbody > tr > td:nth-child(2),
.table > tbody > tr > th:nth-child(2),
.table > tfoot > tr > td:nth-child(2),
.table > tfoot > tr > th:nth-child(2),
.table > thead > tr > td:nth-child(2),
.table > thead > tr > th:nth-child(2){
    min-width: 80px;
}
@media (min-width: 1200px) {
    #aggregatingGroupFormId .btn-group {
        padding-top: 25px;
    }
}
.switch-danger .switchery{
    background-color: #ed5565;
}
.table .tr-danger{
    background-color: #f2dede;
}
#wizardFormId.wizard > .content > .body{
    position: relative;
    width: 100%;
}
.wizard > .content > .body .has-error .form-control{
    border-color: #ed5565;
}
#wizardFormId.wizard > .content > .body ul{
    list-style: none!important;
}
#trunkList .badge{
    padding: 5px 10px;
    margin-right: 5px;
}
.priority_item{
    margin-bottom: 3px;
}
dl.pz-list{
    margin: 0;
    font-size: 80%;
}
.footable-50{
    max-width: 50px;
}
.footable-100{
    max-width: 100px;
}
.footable-150{
    max-width: 150px;
}
.footable-200{
    max-width: 200px;
}
.footable-250{
    max-width: 250px;
}
.footable-300{
    max-width: 300px;
}
.footable-350{
    max-width: 350px;
}
.footable-400{
    max-width: 400px;
}
.form-group .chosen-container-multi .chosen-choices{
    border-radius: 0;
    border: 1px solid #B3B3B3;
}
.form-group .chosen-container{
    width: 100%!important;
}
.form-group .well-sm{
    padding: 0px;
}
.form-group .well{
    margin-bottom: 10px;
}
tags-input .tags, tags-input .tags.focused{
    box-shadow: none!important;
}
